/* single-page.css - Course Details Page Styles */

header {
    background-color: #fff;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ddd;
}

.nav {
    width: 90%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.profile {
    background-color: #334155;
    padding: 10px 15px;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
}

.hero {
    height: 40vh;
    margin-top: 80px;
}

.course-details, .sidebar, .syllabus, .reviews, .review-item {
    margin: 0 auto;
}

.sidebar {
    background-color: #fff;
    padding: 20px;
    width: 380px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    border-radius: 12px;
    position: absolute;
    top: 100px;
    left: 65%;
}

.sidebar button {
    background-color: #000;
    color: #fff;
    border: none;
    padding: 15px;
    width: 100%;
    border-radius: 5px;
    font-size: 15px;
    cursor: pointer;
    margin: 10px 0;
}

.sidebar button.buy {
    background-color: transparent;
    border: 1px solid black;
    color: black;
}

.description button:hover {
    background: #EFF6FF;
}

.details, .syllabus-item, .review-item {
    border-bottom: 1px solid #E2E8F0;
    padding: 24px 15px;
}

.review-item {
    display: flex;
    gap: 70px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.review-profile {
    display: flex;
    align-items: center;
    gap: 5px;
}

.review-text {
    font-size: 16px;
    color: #495057;
    margin: 0;
    width: 79%;
}

.rating-overall {
    font-size: 24px;
    font-weight: bold;
    color: #343a40;
    display: flex;
    align-items: center;
}
